# Root Git Ignore

# Python virtual environments & build files
backend/venv/
backend/.env
backend/__pycache__/
backend/app/__pycache__/
*.pyc

# Next.js and Node build folders
frontend/node_modules/
frontend/.next/
frontend/.env*.local
.next/
node_modules/
